# Swift Package Manager
.build/
.swiftpm/
Package.resolved
build/

# Xcode
DerivedData/
*.xcuserstate
xcuserdata/
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/

# macOS
.DS_Store
.AppleDouble
.LSOverride
._*
.Spotlight-V100
.Trashes
Icon?

# Editors
.vscode/
.idea/
