<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>nafi</string>
	<key>CFBundleExecutable</key>
	<string>nafi</string>
	<key>CFBundleIconFile</key>
	<string>AppIcon</string>
	<key>CFBundleIdentifier</key>
	<string>app.nafi.filemanager</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>nafi</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.9.4</string>
	<key>CFBundleVersion</key>
	<string>45</string>
	<key>LSMinimumSystemVersion</key>
	<string>14.0</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2026 nopo</string>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>LSMultipleInstancesProhibited</key>
	<true/>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>app.nafi.filemanager.commands</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>nafi</string>
			</array>
		</dict>
	</array>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Folders (Viewer)</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.folder</string>
				<string>public.directory</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Folders (Shell)</string>
			<key>CFBundleTypeRole</key>
			<string>Shell</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.folder</string>
				<string>public.directory</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Volumes (Viewer)</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.volume</string>
				<string>public.mount-point</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Volumes (Shell)</string>
			<key>CFBundleTypeRole</key>
			<string>Shell</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.volume</string>
				<string>public.mount-point</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>All Files (Reveal in nafi)</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>*</string>
			</array>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.item</string>
				<string>public.content</string>
				<string>public.data</string>
				<string>public.text</string>
				<string>public.source-code</string>
				<string>public.html</string>
				<string>public.xml</string>
				<string>public.json</string>
				<string>public.image</string>
				<string>public.audio</string>
				<string>public.movie</string>
				<string>public.archive</string>
				<string>com.adobe.pdf</string>
			</array>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>****</string>
			</array>
		</dict>
	</array>
	<key>NSServices</key>
	<array>
		<dict>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>nafiで開く</string>
			</dict>
			<key>NSMessage</key>
			<string>openInNafi</string>
			<key>NSPortName</key>
			<string>nafi</string>
			<key>NSSendFileTypes</key>
			<array>
				<string>public.item</string>
			</array>
			<key>NSServiceDescription</key>
			<string>ファイルの場合は含むフォルダをnafiで開いて選択し、フォルダの場合はそのフォルダを開きます。</string>
		</dict>
	</array>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeIdentifier</key>
			<string>app.nafi.file-collection</string>
			<key>UTTypeDescription</key>
			<string>nafi File Collection</string>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
		</dict>
		<dict>
			<key>UTTypeIdentifier</key>
			<string>app.nafi.sidebar-favorite</string>
			<key>UTTypeDescription</key>
			<string>nafi Sidebar Favorite</string>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
		</dict>
	</array>
	<key>LSSupportsOpeningDocumentsInPlace</key>
	<true/>
</dict>
</plist>
